# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#доля должников 
data['debit_children_divide'] = data.groupby('children')['debt'].sum() / data.groupby('children')['debt'].count() 
# доля должников в процентах 
data['debit_children_divide'] = data['debit_children_divide'].apply(lambda x: format(x, '.2%'))
# таблица с результатами 
display(data.sort_values(by='debit_children_divide').head(10))
# таблица только с долгом, детьми и процентами (скажу честно я подглядел это в слаке (｡•́︿•̀｡) )
debt_children = data.pivot_table(index = ['children'], values = 'debt', aggfunc = ['count', 'sum', 'mean'])
display(debt_children)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,debit_children_divide
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью,0.00%
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,7.54%
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,8.18%
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,9.23%
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,9.45%
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,9.76%
14334,1,679.947410,31,среднее,1,женат / замужем,0,M,сотрудник,0,307471,покупка жилья для сдачи,B,операции с недвижимостью,nan%
14333,0,354302.010009,65,среднее,1,гражданский брак,1,F,пенсионер,0,63253,сыграть свадьбу,C,проведение свадьбы,nan%
14332,0,1555.947387,34,среднее,1,Не женат / не замужем,4,M,компаньон,0,172357,свой автомобиль,C,операции с автомобилем,nan%
14331,2,5079.746547,46,среднее,1,женат / замужем,0,F,сотрудник,0,160107,заняться высшим образованием,C,получение образования,nan%

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

   ### если моя задача состоит в том чтобы просто словесно описать ситуацию по выведенной таблице а не переделывать код, то: 
   больше всего долга у семей без детей либо меющих одного ребенка, смею предположить что первые либо готвятся к  пополнению либо решили что-то моменять, а вторые начали повышать уровень жизни уже имея ребенка. обе группы взяли деньги на покупку жилья либо автомобиля. 
   меньше всего кредитов берут многодетные семьи следовательно и просрочнки платежа у них меньше. скорее всего все финансы семьи идут на детей, а если надо прибегнуть к кредитным деньгам то такий люди изучают предложения и свои силы.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [3]:
#почитал больше теории и начал деать так, надеюсь правильно. хотя скорее всего надо было все добавлять в 
#исходную таблицу, ну будет что исправлять
display(data['family_status'].unique())
debt_family_status_id = data.groupby('family_status_id').agg({'debt': ['count', 'sum', 'mean']})   
display(debt_family_status_id)


# Ваш код будет здесь. Вы можете создавать новые ячейки.

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

                   debt
                  count  sum      mean
family_status_id
0                 12380  931  0.075202
1                  4177  388  0.092890
2                   960   63  0.065625
3                  1195   85  0.071130
4                  2813  274  0.097405

**Вывод:** больше всего кредитов у замужних/женатых и тех кто в граждансокм браке, т.к. им необходимо повысить уровень жизни (дети, авто, жилье, так же свадьба), а средств нехватает и при этом их платежеспособность в некоторых случаях оставляет желать лучшего. меньшая доля кредитов и долгов по ним у овдовевших либо разведенных, тяжелая моральная "боль" приводит людей в депрессивное состояние в котором они замыкаются в себе и не хотят развиваться в каких-то аспектах неопределенный промежуток времени. не женатые и не замужние тратят деньги на себя и как правило не откладывают их поэтотму и просрачивают выплаты           


вроде похже на вывод, не так ли? (⁄ ⁄•⁄ω⁄•⁄ ⁄)

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
display(data.head())
 
debt_total_income_category = data.groupby('total_income_category').agg({'debt':['count', 'sum', 'mean']})
display(debt_total_income_category.head(10))

# Ваш код будет здесь. Вы можете создавать новые ячейки.

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,debit_children_divide
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,7.54%
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,9.23%
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,9.45%
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,8.18%
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,9.76%

                        debt
                       count   sum      mean
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

'покажи мне чек где написано 72000 я сразу уволюсь и буду работать на тебя'(С)  я решил оставить цитату из волка с уолл стрит, надеюсь тебя она тоже повеселила 

население из самой высокой и самых низких категоряих А и Е соотвественно реже берут кредиты и так же реже не оплачивают их, т.к. первым они не нужны благодаря высокому доходу, а вторый напротив боятся брать кредиты из-за невозможности его оплатить.
население с категорией С активнее берет кредиты так как находится на этапе повышения уровня жизни (почувствовали запах денег) и хоят перемен, имея средний уровень дохода и высшее образование они чаще понимают что кредит надо оплачивать и зачастую подбирают более оптимальные варианты.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [1]:
display(data.head(10))
debt_purpose_category = data.groupby('purpose_category').agg({'debt':['count', 'sum', 'mean']})
display(debt_purpose_category)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

NameError: name 'data' is not defined

лично я не заметил кареляции, да и такая выборка не дает что-то понять. 
то что финансы на недвижмость берут чаще и при этом реже не оплачивают, невижимость осознанная и хорошо обдуманная покупка к которой готовятся и подбирают по своим возможностям, поэтому такой маленький процент невыплат.
большая часть свадеб отбивается подарками приглашенных, ну если они не дарили чайные сервизы и постельное белье с полотенцам. 
не все люди занимающие деньги у банка учатся в яндекс практикуме, кто-то поступает в магистратуру а это два года, за это время и передумать можно а кредит то останется 

Артем, прости меня за то что ты сейчас почитал что-то я написал ночью а что-то сейчас

ლ(ಠ_ಠ ლ) 
– эмодзи изображает сильное умственное напряжение

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

человеческий и технологический факторы. в первом все мы люди и нам свойстенно ошибаться. технологические связаны с оборудованием и его использованием (копирование, чтение, смена формата и тд)

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

использование медианы - при ней ровно половина данных меньше ее а вторая больше, это значит что наше значение всегда будет в средине вне зависимости от количества данных и их величин.  
при использовании среднего значения некоторые данные могут сильно отличаться в большую или меньшую сторону. при этом подсчет среднего значения может быть сильно нарушен придельно низким или высоким значением. это как в анекдоте кто-то ест много мяса а я много капусты, нов среднем мы оба едим голубцы

### Шаг 4: общий вывод.

### Вывод: 
   Предоставленная для анализа таблица выявила в себе некие несоотвествия типам данных и их оформлению. После выполненной предобработки данных были заполнены пробелы в столбцах, убраны несоответсвующие действительности значения (отрицательный трудовой тсаж, количество детей равное -1 или 20). Подсчитаны медианные значения трудовых стежей для песнионеров и безработкых, заполнены пропуски в total_income медианным значение зп по типам. Так же понадобилось изменить типо данных в столбце total_income на числовые. 
   Проделана работа по удалению дубликатов и приведению информации к единому регистру. 
   К дата сету добавлены новые столбцы total_income_category и purpose_category чьи данные опираются на написанные функции для расчета уровня заработной платы и категории на которую требуется заем соответсенно. 
  .
  .
  
  Проанализировав данные долге по наличию детей, семейному положения и уровню дохода лично я ничего не понял. Во всех случаях присутствуют задолжности. 
  .
  .
  
  P.S. Артем как-то я запутался если честно, выжал из себя сейчас что смог. Проработаю твои новые замечания. Еще сейчас подумал что если зв неделю смогу пройти и сделать еще два спринта то останусь в этой группе. Спасибо что потратил на меня и мою писанину свое время. (´｡• ᵕ •｡`)