# Дашборд для Яндекс.Дзен

Ссылка на Tableau public: https://public.tableau.com/app/profile/danil.ivanov/viz/Book1_16817467034770/_?publish=yes

Ссылка на презентацию: https://drive.google.com/file/d/1MQqHWf9-wvs0hyo3cMCLpxj1CznFEv3Z/view?usp=sharing

### Описание проекта и постановка целей

Мы работаем аналитиком в Яндекс.Дзене. Почти всё наше время занимает анализ пользовательского взаимодействия с карточками статей.

Каждую карточку определяют её тема и источник (у него тоже есть тема). Примеры тем: «Красота и здоровье», «Россия», «Путешествия».

Пользователей системы характеризует возрастная категория. Скажем, «26-30» или «45+».

Есть три способа взаимодействия пользователей с системой:

- Карточка отображена для пользователя (show);
- Пользователь кликнул на карточку (click);
- Пользователь просмотрел статью карточки (view).

Каждую неделю требуется ответить на следующие вопросы:

- Сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
- Как много карточек генерируют источники с разными темами?
- Как соотносятся темы карточек и темы источников?
- Чтобы автоматизировать процесс, было решено сформировать дашборд.

Дашборд будет основываться на пайплайне, который будет брать данные из таблицы, в которых хранятся сырые данные, трансформировать данные и укладывать их в агрегирующую таблицу. Пайплайн будет разработан для вас дата-инженерами.

Пообщавшись с менеджерами и администраторами баз данных, мы составили краткое ТЗ:

- Бизнес-задача: анализ взаимодействия пользователей с карточками Яндекс.Дзен;
- Насколько часто предполагается пользоваться дашбордом: не реже, чем раз в неделю;
- Кто будет основным пользователем дашборда: менеджеры по анализу контента;
- Состав данных для дашборда:
 - История событий по темам карточек (два графика - абсолютные числа и процентное соотношение);
 - Разбивка событий по темам источников;
 - Таблица соответствия тем источников темам карточек;
- По каким параметрам данные должны группироваться:
 - Дата и время;
 - Тема карточки;
 - Тема источника;
 - Возрастная группа;
- Характер данных:
 - История событий по темам карточек — абсолютные величины с разбивкой по минутам;
 - Разбивка событий по темам источников — относительные величины (% событий);
 - Соответствия тем источников темам карточек - абсолютные величины;
- Важность: все графики имеют равную важность;
- Источники данных для дашборда: дата-инженеры обещали подготовить для вас агрегирующую таблицу dash_visits. Вот её структура: 
 - record_id — первичный ключ,
 - item_topic — тема карточки,
 - source_topic — тема источника,
 - age_segment — возрастной сегмент,
 - dt — дата и время,
 - visits — количество событий.
- Таблица хранится в специально подготовленной для вас базе данных zen;
- Частота обновления данных: один раз в сутки, в полночь по UTC;
- Какие графики должны отображаться и в каком порядке, какие элементы управления должны быть на дашборде (макет дашборда):

![dashboard](/Users/macos/Desktop/dashboard.png)

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

In [3]:
engine = create_engine(connection_string)

In [4]:
# формирование sql-запроса
query = ''' SELECT *
            FROM dash_visits
        '''

In [5]:
# выполнение запроса с сохранением результата выполнения в таблицу dash_visits
dash_visits = pd.io.sql.read_sql(query, con=engine)

In [6]:
# получение первых пяти строк датафрейма dash_visits с помощью
# метода head() и общей информации методом info()
display(dash_visits.head())
dash_visits.info()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

Получено 30 745 записей в типами данных – целочисленный int64, строковый объект object и значения даты и времени datetime64. 

Опишем содержание столбцов:

- record_id – id записи
- item_topic – тема карточки
- source_topic – тема источника
- age_segment – возрастная категория
- dt – время визита
- visits – количество визитов

Значений NaN не наблюдается, названия столбцов и типы данных в них валидны.

In [8]:
dash_visits.duplicated().sum()

0

Проверим строковые столбцы item_topic, source_topic и age_segment на присутствие неявных дубликатов:

In [9]:
dash_visits['item_topic'].value_counts()

Отношения             1536
Интересные факты      1535
Наука                 1505
Подборки              1456
Полезные советы       1424
Общество              1422
Россия                1385
История               1363
Семья                 1287
Путешествия           1247
Деньги                1234
Женщины               1230
Дети                  1229
Туризм                1206
Здоровье              1203
Красота               1193
Культура              1160
Юмор                  1129
Искусство             1119
Рассказы              1109
Психология            1056
Скандалы              1023
Знаменитости           976
Женская психология     914
Шоу                    804
Name: item_topic, dtype: int64

In [10]:
dash_visits['source_topic'].value_counts()

Семейные отношения    1822
Россия                1687
Знаменитости          1650
Полезные советы       1578
Путешествия           1563
Кино                  1505
Дети                  1459
История               1437
Семья                 1405
Одежда                1379
Здоровье              1243
Искусство             1228
Авто                  1077
Психология            1055
Сад и дача            1036
Политика              1024
Спорт                 1007
Сделай сам             995
Ремонт                 985
Деньги                 973
Еда                    912
Интерьеры              809
Строительство          758
Музыка                 750
Технологии             741
Финансы                667
Name: source_topic, dtype: int64

In [11]:
dash_visits['age_segment'].value_counts()

18-25    7056
26-30    5875
31-35    5552
36-40    5105
41-45    3903
45+      3254
Name: age_segment, dtype: int64

In [7]:
# сохранение датафрейма dash_visits в файл с помощью метода to_csv()
dash_visits.to_csv('dash_visits.csv')

Вывод: 

На первом этапе было произведено подключение к базе данных посредством библиотеки sqlalchemy и выполнен SQL-запрос. Полученная выборка сохранена в таблицу dash_visits, которая содержит информацию о количестве и времени визитов пользователей Яндекс.Дзен с указанием их возрастной категории, а также тем источников и карточек, просмотренных ими. В заключении этапа таблица dash_visits была экспортирована в файл dash_visits.csv 


Далее был составлен согласно утвержденному макету и размещен в облаке Tableau Public дашборд для менеджеров по анализу контента. Также подготовлена и размещена на Google.Диске презентация в формате .pdf с ответами на поставленные менеджерами вопросы. По итогу имеем следующие выводы:

Имеем около 60 тыс. событий в пике взаимодействий 
Лидеры по количеству визитов – темы карточек История, Наука, Общество, Отношения, Подборки и Полезные советы (в среднем 3-4 тыс.). Остальные категории – 1,5-2,5 тыс. событий 


Больше всего карточек генерируют темы Семейные отношения (10,7%), Россия (9,6%), Полезные советы (8,8%), Путешествия (7,8%), Знаменитости (7,7%) и Кино (6,5%) 


Самое большое соотношение тема карточки – тема источника – Рассказы о путешествиях (4 587), далее Россия и общество (3 471), на третьем месте Кино и наука (3 279)